acres==0.5.0
annotated-types==0.7.0
certifi==2026.6.17
charset-normalizer==3.4.9
ci-info==0.4.0
click==8.4.2
colorama==0.4.6
configobj==5.0.9
configparser==7.2.0
contourpy==1.3.3
cycler==0.12.1
et_xmlfile==2.0.0
etelemetry==0.3.1
filelock==3.29.7
fonttools==4.63.0
httplib2==0.32.0
idna==3.18
kiwisolver==1.5.0
looseversion==1.3.0
lxml==6.1.1
matplotlib==3.11.0
networkx==3.6.1
nibabel==5.4.2
nipype==1.11.0
numpy==2.5.0
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
pathlib==1.0.1
pillow==12.2.0
prov==2.4.0
puremagic==2.2.0
pydantic==2.13.4
pydantic_core==2.46.4
pydot==4.0.1
pymupdf==1.28.0
pyparsing==3.3.2
pyqtdarktheme==0.1.7
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-dateutil==2.9.0.post0
pyxnat==1.6.4
QtAwesome==1.4.2
QtPy==2.4.3
rdflib==7.6.0
requests==2.34.2
scipy==1.18.0
shiboken6==6.11.1
simplejson==4.1.1
six==1.17.0
traits==7.1.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.2
urllib3==2.7.0
